.mainWrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
}

.cardWrapper {
  backdrop-filter: blur(10px);

  width: 250px;
  margin-right: 10px;
  color: #efc862;
  height: 44rem;
  margin-left: 5rem;
  align-items: center;
  font-size: 12px;
}

.card-content {
  font-size: 12px;
}
.chartDiv {
  float: right;
  background: rgb(88, 68, 68);
  backdrop-filter: blur(12px);
  height: 100%;
  border: #efc862 solid 1px;
  height: 30rem;
  width: 50rem;
  margin-left: 450px;
  margin-top: 50px;
}
